
header {
 background-color: #FFC107;
 width: 200vh;
 height: 5vh;
 display: block;
 margin: 2vh;
}

div {
  display: inline;
  width: 7vh;
  height: auto;
  margin: 2vh;
  border: 2px black solid;
  background-color: silver;
}
.a {
  display: inline-block;
}
.b {
  display: inline-block;
}
.c {
  display: inline-block;
}
.d {
  display: inline-block;
}
