div {
  width: auto;
  height: auto;
  display: inline-block;
  margin: 3vh;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.block_yellow {
  background-color: #F7B617;
  color: black;
}
.block_gray {
  background-color: #2B2B2B;
  color: white;
}
.block_yellow1{
  background-color: #F7B617;
  color: black;
}
