div {
  width: 40vh;
  height: 30vh;
  display: block;
  margin: 2vh;
}

.block_yellow {
  background-color: #F7B617;
  color: black;
}
.block_gray {
  background-color: #2B2B2B;
  color: white;
}
.block_yellow1{
  background-color: #F7B617;
  color: black;
}
